<ion-view title="Details" id="page4">
    <ion-content padding="true" class="has-header">
        <h1 id="details-heading1" style="color:#000000;" class="title"></h1>
        <div id="details-markdown1" style="color:#000000;">
            <h1>{{ task.name }}</h1>
        	<p>{{ task.description }}</p>
        </div>
        <a ui-sref="edit({id:task.id})" id="details-button5" class="button button-positive  button-block icon-left ion-android-bicycle">Edit</a>
        
    </ion-content>
</ion-view>



